{% extends "base.html" %}
{% block content %}

<h1>Add Question Answer</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{form.as_p}}
    <button type="submit">Submit</button>
</form>
{% endblock %}