{% extends "base.html" %}
{% block content %}

<h1>Subject List</h1>
<ul>
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    <!-- Display Objects -->
    <li><a href={% url 'chapter-list' class_id=class_id subject_id=object.uuid %}>{{ object.name }}</a>
    </li>
    <hr />
    <!-- If objet_list is empty  -->
    {% empty %}
    <li>No objects yet.</li>
    {% endfor %}
</ul>
{% endblock %}