{% extends "base.html" %} {% block content %}

<h1>Topic List</h1>
<div class="spinner-border" role="status"></div>
<a href={% url 'topic-create' chapter_id=chapter_id %}> add Topic</a>
<ol>
        <!-- Iterate over object_list -->
        {% for object in object_list %}
        <!-- Display Objects -->
        {% if object.is_sub_topic %}
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ object.name }} <button><a
                                href="{% url 'topic-update' chapter_id=chapter_id topic_id=object.uuid %}">Edit</a></button>
                <button><a href="{% url 'topic-delete' chapter_id=chapter_id pk=object.uuid %}">delete</a></button>
                <button><a href="{% url 'question-answer-create' chapter_id=chapter_id topic_id=object.uuid %}">Question
                                Answer</a></button>
                <button><a id='upload' href="{% url 'upload-video' topic_id=object.uuid %}">Upload</a></button>

                <span style="padding-left: 50px;">{{object.order_no}}</span>

        </li>
        <hr /> {% else %}
        <li>{{ object.name |safe }} <button><a
                                href="{% url 'topic-update' chapter_id=chapter_id topic_id=object.uuid %}">Edit</a></button>
                <button><a href="{% url 'topic-delete' chapter_id=chapter_id pk=object.uuid %}">delete</a></button>
                <button><a href="{% url 'question-answer-create' chapter_id=chapter_id topic_id=object.uuid %}">Question
                                Answer</a></button>
                <button><a id='upload' href="{% url 'upload-video' topic_id=object.uuid %}">Upload</a></button>

                <span style="padding-left: 50px;">{{object.order_no}}</span>
        </li>
        <hr /> {% endif %}
        <!-- If objet_list is empty  -->
        {% empty %}
        <li>No objects yet.</li>
        {% endfor %}
</ol>

<h2>Exercise List</h2>

<a href={% url 'exercise-create' chapter_id=chapter_id %}> Add Exercise </a>
<ol>
        <!-- Iterate over object_list -->
        {% for object in exercises %}
        <!-- Display Objects -->
        {% if object.is_sub_topic %}
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ object.name |safe }} <button><a
                                href="{% url 'exercise-update' chapter_id=chapter_id topic_id=object.uuid %}">Edit</a></button>
                <button><a href="{% url 'topic-delete' chapter_id=chapter_id pk=object.uuid %}">delete</a></button>
                <button><a href="{% url 'question-answer-create' chapter_id=chapter_id topic_id=object.uuid %}">Question
                                Answer</a></button>
                <button><a href="{% url 'upload-video' topic_id=object.uuid %}">Upload</a></button>
                <span style="padding-left: 50px;">{{object.order_no}}</span>
        </li>
        <hr /> {% else %}
        <li>{{ object.name |safe }} <button><a
                                href="{% url 'exercise-update' chapter_id=chapter_id topic_id=object.uuid %}">Edit</a></button>
                <button><a href="{% url 'topic-delete' chapter_id=chapter_id pk=object.uuid %}">delete</a></button>
                <button><a href="{% url 'question-answer-create' chapter_id=chapter_id topic_id=object.uuid %}">Question
                                Answer</a></button><span style="padding-left: 50px;">{{object.order_no}}</span>
                <button><a href="{% url 'upload-video' topic_id=object.uuid %}">Upload</a></button>
        </li>
        <hr /> {% endif %}
        <!-- If objet_list is empty  -->
        {% empty %}
        <li>No objects yet.</li>
        {% endfor %}
</ol>

<script>
        $(document).ready(function () {
                $(".spinner-border").hide()
                $("input").prop('required', true);
                $("button").click(function () {
                        $(".spinner-border").show()
                });
        });

</script>
{% endblock %}