{% extends "base.html" %}
{% block content %}
<h1>Create Topic</h1>

<form method="POST" enctype="multipart/form-data">

    {{ form.media }}
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>
{{now}}
{% endblock %}