{% extends "base.html" %}
{% block content %}
<h1>Upload Video</h1>


<div class="parent-dev">
    Topic: {{topic.name | safe}} <br>
    Video title: {{topic.video_title}}<br>

    {{form | safe}}
</div>


<div class="spinner-border" role="status">
</div>
<script>
    $(document).ready(function () {
        $(".spinner-border").hide()
        $("input").prop('required', true);
        $("form").submit(function () {
            $(".spinner-border").show()
        });
    });
</script>
{% endblock %}