{% extends "base.html" %}
{% block content %}
<h1>Video uploaded successfully</h1>
<p>Uploaded is being processed</p>
<iframe src="{{video_url}}" width="100%" height="250" frameborder="0" allow="fullscreen;" allowfullscreen loop="0">

</iframe>
{% endblock %}