{% extends "base.html" %}
{% block content %}

<h1>Class List</h1>
<ul>
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    <!-- Display Objects -->
    <li><a
            href={% url 'subject-list' id=object.uuid %}>{{ object.get_name_display }}-{{ object.get_division_display }}</a>
    </li>
    <hr />
    <!-- If objet_list is empty  -->
    {% empty %}
    <li>No objects yet.</li>
    {% endfor %}
</ul>
{% endblock %}